@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,900;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(#f7ebaf, #da8372, #240102, black);
  font-family: "Lato", sans-serif;
}

.parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.parallax::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #240102, transparent);
  z-index: 1000;
}

.parallax img {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.parallax img#awan {
  z-index: -100;
}

.parallax img#gunung {
  z-index: -90;
}

#text {
  position: absolute;
  font-size: 4.8em;
  color: white;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 5px 5px 8px black;
  z-index: -100;
  animation: fadeIn 5s;
}

#text2 {
  position: absolute;
  font-size: 1em;
  color: white;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 3px 3px 5px black;
  z-index: -100;
  margin-top: 120px;
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#about {
  position: relative;
  padding: 5em;
  background-color: #240102;
}

#about p {
  white-space: inherit;
  font-size: 10vw 1.1em;
  color: white;
  text-align: justify;
  /* overflow: clip;
  text-overflow: ellipsis; */
}

#skills {
  position: relative;
  padding: 5em;
  background-color: #240102;
}
#projects {
  position: relative;
  padding: 5em;
  background-color: #240102;
}

#contact {
  position: relative;
  padding: 5em;
  background-color: #240102;
}

#label-kontak {
  font-family: "Lato", sans-serif;
  color: white;
}

#judul {
  color: white;
  text-align: center;
  font-size: 50px;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

#fotoku {
  width: 230px;
  float: left;
  margin-right: 100px;
  border-radius: 50%;
}
